@import url("https://fonts.googleapis.com/css?family=Rubik");

body,
html {
  color: #fff;
  text-align: center;
  background: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
}

.grid-container {
  background: white;
  font-family: 'Rubik', sans-serif;
}


@supports(display: grid) {

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "title title footer"
      "main main main";

    @media screen and (max-width: 500px) {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 1fr auto 1fr;
      grid-template-areas:
        "header"
        "title"
        "main"
        "footer";
    }
  }

  .grid-item {
    overflow-x: hidden;
    color: #fff;
    background: rgb(204, 204, 204);
    padding: 3.5em 1em;
    font-size: 1em;
    font-weight: 700;
  }

  .header {
    background-color: darken(gray, 60%);
    grid-area: header;
    padding: 1em;
  }

  .title {
    color: gray;
    background-color: lighten(gray, 25%);
    grid-area: title;
  }

  .main {
    color: lighten(gray, 25%);
    background-color: lighten(gray, 60%);
    grid-area: main;
    padding: 0;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .footer {
    background-color: darken(gray, 10%);
    grid-area: footer;
    padding: 0.6em;
  }

  .items {
    animation: scroll 10s linear infinite;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .items.active {
    background: white;
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .item {
    display: inline-block;
    background: #f2f2f2;
    min-width: 28%;
    aspect-ratio: 3/4;
    margin: 2em 1em;

    @media screen and (max-width: 500px) {
      min-height: 200px;
      min-width: 200px;
    }
  }

  .item {
    transition: all 0.5s;
  }

  .item:hover {
    transition: all 1s;
    transform: scale(1.1);
  }
}
