hr{
  display: block;
  margin: 2% auto !important;
  width: 80%;
}

nav .btn:hover {
  color: black;
}

#login-button-index{
  background-color: rgb(39, 166, 39) !important;
  color:white;
}

#login-button-index:hover{
  background-color: rgb(255, 255, 255)!important;
  color:black;
}

body {
  scroll-behavior: smooth;
  user-select: none;
  background-color: #e8e8e8;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

nav {
  padding-bottom: 50px;
  margin-bottom: 20px;
}


.gray-card {
  transition: all 0.5s ease-in-out;
  display: block;
  margin: auto;
  aspect-ratio: 3/4;
  width: 60%;
  border-radius: 10%;
  background: #e0e0e0;
  box-shadow: 0px 0px 30px 1px gray;
}

.table-section {
  margin:2% auto;
  background-color: #ececec;
  height: 80vh;
}

.td-text {
  width: 60%;
}

.td-card {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.gray-card:hover {
  transform: scale(1.1) rotate(8deg);
  box-shadow: 0px 0px 30px 1px black;
}