@media only screen and (max-width: 600px) {
  .gray-card {
    display: none;
  }
}

nav .btn:hover {
  color: black;
}

body {
  scroll-behavior: smooth;
  user-select: none;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

nav {
  padding-bottom: 50px;
  margin-bottom: 20px;
}


.gray-card {
  transition: all 0.5s ease-in-out;
  display: block;
  margin: auto;
  aspect-ratio: 3/4;
  width: 60%;
  border-radius: 10%;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
    -15px -15px 30px #ffffff;
}

.table-section {
  height: 100vh;
}

.td-text {
  width: 60%;
}

.td-card {
  display: flexbox;
  align-items: center;
  justify-content: center;
}

.gray-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 30px 1px black;
}