.section-grid {
  display: grid;
  align-items: center;
  background-color: rgb(216, 216, 216);
  grid-template: 90%/60% auto;
  align-items: center;
}

.section-grid figure img, .section-grid figure {
  width:100%;
  object-fit: cover;
}

.grid-content{
  padding: 2%;
  box-sizing: border-box;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px 0;
}

nav {
  padding-bottom: 50px;
  margin-bottom: 20px;
}